:root {
  --accent-color: #2196F3;
  --logo-color: #000000;
  --title-color: #FFFFFF;
  --desk-color: #757575;
  --color: #212121;
  --background-color1: #F5F4FA;
  --background-color: #2F303A;
  --border-color: #EEE;
  --border-portfolio: #ECECEC;
}
/* font-family: "Raleway", sans-serif; */
/* font-family: "Roboto", sans-serif; */

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;

}

img {
  display: block;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;   
}

.body {
 font-family: "Raleway";
}

/* header */

header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid var(--border-portfolio);
}

header > .container {
  display: flex;
}

.logo-span1 {
  color: var(--accent-color);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}

.logo-span2 {
  color: var(--logo-color);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}

.logo {
  margin-right: 93px;
}

.header-navigator {
display: flex;
align-items: center;
}

.header-items {
display: flex;
gap: 50px;
margin-right: 344px;
}

.header-nav {
  color: var(--color);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
}

.header-nav:hover,
.header-nav:focus {
  color: var(--accent-color);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
} 

.header-roster {
display: flex;
gap: 50px;
}

.roster-link{
display: flex;
gap: 50px;
}

.header-email {
  color: var(--desk-color);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
}

.header-email:hover,
.header-email:focus{
  color: var(--accent-color);
}

.footer {
  background-color: var(--background-color);
}

.footer-addres {
  color: var(--title-color);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}

.footer-link {
  color: var(--desk-color);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}

/* Main */

.decision {
  background-color: var(--background-color);
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.decision-title {
  width: 696px;
  color: var(--title-color);
  text-align: center;
  font-family: Roboto;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36; /* 136.364% */
  letter-spacing: 2.64px;
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.decision-btn {
  color: var(--title-color);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88; /* 187.5% */
  letter-spacing: 0.96px;
  
  border-radius: 4px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 32px;
  padding-left: 32px;
  border: none;
}

 /* We */

 .we {
  padding-top: 94px;
  display: flex;
}

.we-items {
  display: flex;
  gap: 30px;
}

.we-title {
  color: var(--color);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.we-subtitle {
  color: var(--desk-color);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71; /* 171.429% */
  letter-spacing: 0.42px;
}

/* What does we do */

.make {
  padding-top: 94px;
  padding-bottom: 94px;
}

.make-title {
  color: var(--color);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;    
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

.make-items {
  display: flex;
  gap: 30px;
}

.make-img {
  width: 370px;

}

/* Team */

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--background-color1);
}

.team-title {
  color: var(--color);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;    
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

.team-items {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.team-img {
  width: 270px;
  height: 260px;
  flex-shrink: 0;
}

.team-box {
padding-top: 30px;
padding-bottom: 30px;
background-color: var(--title-color);
}

.team-heading {
  color: var(--color);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 0.48px;
  margin-bottom: 10px;
}

.team-text {
  color: #757575;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.19;
  letter-spacing: 0.48px;
}
/* Footer */

.footer {
  background-color: var(--background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  color: var(--accent-color);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}

.footer-span {
  color:var(--title-color);
}

.footer-link1{
  color: var(--title-color);
  margin-top: 20px;
}

.footer-link {
  color: var(--desk-color);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}

/* Portfolio */

.btn-btn:hover {
  color: var(--title-color);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62; /* 162.5% */
  letter-spacing: 0.48px;
  border-radius: 4px;
  background: #2196F3;


.btn-btn {
  color: var(--color);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62; /* 162.5% */
  letter-spacing: 0.48px;

  border-radius: 4px;
  background: #F5F4FA;
}

.goods-title {
  color: var(--desk-color);
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 2; /* 200% */
  letter-spacing: 1.08px;
}

.goods-img {
  width: 370px;
}

.goods-caption {
  color: var(--color);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.88; /* 187.5% */
  letter-spacing: 0.48px;
}

.goods-text {
  color: var(--desk-color);
  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: #000;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.88; /* 187.5% */
  letter-spacing: 0.48px;
}

.goods-img {
  width: 370px;
}