.footer>.container {
    display: flex;
}


.footer {
    background-color: $background-color;
    padding-top: 60px;
    padding-bottom: 60px;

&__logo-first {
    color: $accent-color;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
}

&__logo-second {
    color: $title-color;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
}

&__logo:focus {
    outline: none;
}

&__address {
    color: $title-color;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    /* 171.429% */
    letter-spacing: 0.42px;
}

&__items {
    margin-top: 20px;
}

&__item {
    margin-bottom: 9px;
    font-style: normal;
}

&__item {
    margin-bottom: 9px;
    font-style: normal;
}

&__item:last-child {
    margin-bottom: 0px;
}

&__link {
    color: $desk-color;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    /* 171.429% */
    letter-spacing: 0.42px;
}

&__link:focus,
&__link-white:focus {
    outline: none;
}

&__networks {
    padding-top: 12px;
    margin-left: 70px;
}

&__title {
    color: $title-color;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 20px;
}


&__list {
    display: flex;
    gap: 10px;
}

&__element-link {
    display: flex;
    align-items: center;
    padding: 12px 12px 12px 12px;
    background-color: $footer-border-color;
    border-radius: 50%;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


&__element-link:hover,
&__element-link:focus {
    background-color: $accent-color;
    outline: none;
}

&__element-img {
    width: 20px;
    height: 20px;
    fill: $title-color;
}

&__mailing {
    margin-top: 12px;
    margin-left: 93px;
}

&__mailing-form {
    display: flex;
}

&__mailing-signature {
    color: $title-color;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 20px;
    display: block;
}

&__mailing-input {
    width: 358px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(33, 150, 243, 0);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding-left: 16px;
    margin-right: 12px;
}

&__mailing-input:focus {
    outline: none;
}

&__mailing-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    color: $title-color;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.96px;
    border-radius: 4px;
    background: $accent-color;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border: none;
    margin-top: 36px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

&__mailing-btn:hover,
&__mailing-btn:focus {
    outline: none;
    background-color: $clients-border;
    color: $background-color;
    cursor: pointer;

    &__mailing-img {
        fill: $background-color;
    }
}

&__mailing-img {
    margin-left: 10px;
    width: 24px;
    height: 24px;
    fill: $title-color;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
}

