.header {
    padding-top: 24px;
    padding-bottom: 25px;
}

.header__portfolio {
    border-bottom: 1px solid var(--border-portfolio);
}

.header>.container {
    display: flex;
}

.header__logo-first {
    color: var(--accent-color);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
}

.header__logo-second {
    color: var(--logo-color);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
}

.header__logo {
    margin-right: 93px;
}

.header__logo:focus {
    outline: none;
}

.header__navigation {
    display: flex;
    align-items: center;
}

.header__items {
    display: flex;
    gap: 50px;
}

.header__item {
    position: relative;
}

.header__nav {
    color: var(--color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__nav::after {
    content: "";
    position: absolute;
    bottom: -33.7px;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: var(--accent-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
}

.header__nav-golovna::after,
.header__nav-portfolio::after {
    content: "";
    opacity: 1;
}

.header-nav-golovna,
.header-nav-portfolio {
    color: var(--accent-color);
}

.header__nav:hover,
.header__nav:focus,
.header__nav:hover::after,
.header__nav:focus::after {
    outline: none;
    opacity: 1;
    color: var(--accent-color);
}

.header__roster {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-left: 318px;
}

.header__roster-item {
    position: relative;
}

.header__roster-link {
    display: flex;
    gap: 10px;
    color: var(--desk-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__roster-link:hover,
.header__roster-link:focus,
.header__roster-link:hover::after,
.header__roster-link:focus::after {
    opacity: 1;
    outline: none;
    color: var(--accent-color);

    .header__roster-img {
        fill: var(--accent-color);
    }
}

.header__roster-link::after {
    content: "";
    position: absolute;
    bottom: -35px;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: var(--accent-color);
    transition: 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
    opacity: 0;
}

.header__roster-img {
    width: 16px;
    height: 12px;
    margin-top: auto;
    margin-bottom: auto;
    fill: var(--desk-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__roster-item:nth-child(2)>.header__roster-link>.header__roster-img {
    height: 16px;
}

.header__roster-item:nth-child(2)>.header__roster-link>.header__roster-span {
    width: 122px;
}