.header>.container {
    display: flex;
}


.header {
    padding: 16px 0;
    
@media screen and (min-width: 768px) {
      padding: 26px 0;
    }
    @media screen and (min-width: 1200px) {
      padding: 25px 0;
    }
    
    &__portfolio {
    border-bottom: 1px solid $border-portfolio;
}

&__logo {
       font-family: "Raleway";
    font-size: 24px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.72px;
    margin-right: auto;
    
      @media screen and (min-width: 768px) {
    margin-right: 88px;
    }

    @media screen and (min-width: 1200px) {
      font-size: 26px;
      letter-spacing: 0.78px;
      margin-right: 93px;
    }
}

&__logo-first {
    color: $accent-color;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
}

&__logo-second {
    color: $logo-color;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
}
&__logo:focus {
    outline: none;
}


&__navigation {
    display: flex;
    align-items: center;
}

&__items {
    display: none;
   margin-left: auto;
   gap: 52px;

    @media screen and (min-width: 768px) {
    display: flex;
  }
}

&__item {
    position: relative;
}

&__nav {
    color: $color;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

&__nav::after {
    content: "";
    position: absolute;
    bottom: -33.7px;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: $accent-color;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
}

&__nav-golovna::after{
    content: "";
    opacity: 1;
}


&__nav-portfolio::after {
    content: "";
    opacity: 1;
}


&__nav-golovna {
   color: $accent-color;
}

&__nav-portfolio {
    color: $accent-color;
}

&__nav:hover,
&__nav:focus,
&__nav:hover::after,
&__nav:focus::after {
    outline: none;
    opacity: 1;
    color: $accent-color;
}

&__roster {
    margin-left: auto;
        display: none;
        align-items: center;

 @media screen and (min-width: 768px) {
      flex-direction: column;
      gap: 10px;
      display: flex;
    }
    @media screen and (min-width: 1200px) {
      flex-direction: row;
      gap: 30px;
    }

}



&__roster-item {
    position: relative;
    
}

&__roster-link {
    display: flex;
    align-items: center;
    gap: 10px;
    color: $desk-color;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

 @media screen and (min-width: 1200px) {
    font-size: 14px;
      }

}

&__roster-link:hover,
&__roster-link:focus,
&__roster-link:hover::after,
&__roster-link:focus::after {
    opacity: 1;
    outline: none;
    color: $accent-color;

    &__roster-img {
        fill: $accent-color;
    }
}

&__roster-link::after {
    content: "";
    position: absolute;
    bottom: -35px;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: $accent-color;
    transition: 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
    opacity: 0;
}

&__roster-img {
    width: 16px;
    height: 12px;
    margin-top: auto;
    margin-bottom: auto;
    fill: $desk-color;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

&__roster-item:nth-child(2)>&__roster-link>&__roster-img {
    height: 16px;
}

&__roster-item:nth-child(2)>&__roster-link>&__roster-span {
    width: 122px;
}

}




// ------------Modal---------- //

