.team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: $title-color;

    &__title {
    color: $color;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
}

&__item {
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
     width: 100%;

 @media screen and (min-width: 768px) {
          flex-basis: calc((100% - 30px) / 2);
        }
        @media screen and (min-width: 1200px) {
          flex-basis: calc((100% - 90px) / 4);
        }
}

&__box-item {
    padding-top: 30px;
    padding-bottom: 16px;
    border-radius: 0px 0px 4px 4px;
}

&__items {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
}

&__img {
    width: 100%;

}

&__heading {
    color: $color;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.19;
    letter-spacing: 0.48px;
    margin-bottom: 10px;
}

&__text {
    color: #757575;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.19;
    letter-spacing: 0.48px;
}

&__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
}

&__element-link {
    display: flex;
    align-items: center;
    padding: 12px 12px 12px 12px;
    background-color: $title-color;
    border-radius: 50%;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

&__element-link:hover,
&__element-link:focus {
    outline: none;
    background-color: $accent-color;

    .team__element-img {
        fill: $title-color;
    }
}

&__element-img {
    width: 20px;
    height: 20px;
    fill: $clients-border;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

}